.bd-sidebar-primary img,
.navbar-brand img,
.logo__image,
a.navbar-brand img {
  border-radius: 50% !important;;
  object-fit: cover;
  width: 100px !important;
  height: 100px !important;
  max-width: 100px !important;
}